<h3>Listado</h3>


<!-- nothingWasDeleted: creamos una referencia local-->
<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>Héroe borrado<small class="text-danger"> {{ deletedHero }}</small></h3>
</div>

AA{{deletedHero}}
<!--Genera un div que no va a afectar a la estructura de la página -->
<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada</h3>
</ng-template>

<button (click)="deleteHero()" class="btn btn-outline-danger">
  Borrar último heroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames"
      class="list-group-item">{{ name }}</li>
</ul>

